#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}
.animation{
  color: red;
}
.animation {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  to { transform: translateX(-100vw); }
  from { transform: translateX(100vw); }
}